 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>My name is Nooshin Orouji and I am a graphic designer and also a digital illustrator. Academically, I have a BS.c and MS.c degree in Electrical engineering which I believe is something that makes me stand out in the field of Design,</p>
                </div>
                <div class="col-lg-4">
                    <p>because I learned how to be a competent researches propose inventive answers to difficult challenges, and execute collaborative activities throughout my academic career. </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="./cv.pdf" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download CV
                    </a>
                </div>
            </div>
        </div>
    </section>
